/* mac hide \*/
html, body {
	height:100%;
	padding:0;
	margin:0;
	font-family: �Lucida Sans Unicode�, �Lucida Grande�, sans-serif;
	font-size:14px;
	line-height:110%;
}

body{
	border-left:3px solid orange;
}

h1{
	font:56px impact,sans-serif;
	margin:-12px 0 0 0;
}

sub {
	vertical-align:-3px;
}

a:link {
	text-decoration:none;}
a:visited {
	text-decoration:none;}
a:hover {
	text-decoration:underline;}
a:active {
	text-decoration:underline;}

a.white {
	color:white
}

.orange {
	color:orange
}

label.form{
	width:60px;
    float:left;
 }
 
.linearScaleBox {
	width: 50px;
	margin-bottom:1px;
	margin-top:1px;
}

.LogScaleBox {
	width: 70px;
	margin-bottom:1px;
	margin-top:1px;
}

.LogScale,.linearScaleSlider{
	width: 156px;
	height: 15px;
	margin-bottom:1px;
	margin-top:1px;
	margin-right:1px;
	margin-left:1px;
	
}

/* end hide*/

#outer {
	min-height:100%;/*for mozilla as IE treats height as min-height anyway*/
	margin-left:350px;

	border-left:3px solid orange;
	border-right:3px solid orange;
	margin-bottom:-32px;
	color: #000000;
}

* html #outer {
	height:100%;
}

header {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:50px;
	background: orange;
	/*border-top:1px solid #000;
	border-bottom:1px solid #000;*/
	overflow:hidden;
	color: #FFFFFF;
	text-align:center;
}

#left {
	position:relative;/*ie needs this to show float */
	width:330px;
	float:left;
	margin-left:-349px;/*must be 1px less than width otherwise won't push footer down */
	left:-1px;/* line things up exactly*/
	padding:62px 0 0 10px;	
}

* html #left {
	margin-right:-3px
}/* three pixel jog*/

#left p {
	padding-left:3px;
	padding-right:2px
}

#centrecontent {
	float:right;
	width:100%;
	margin:0 0 0 -1px;
	position:relative;
	z-index:1;
	padding:52px 0 0;
}

footer {
	width:100%;
	clear:both;
	height:30px;
	border-top:1px solid #FFC04D;
	border-bottom:1px solid #FFC04D;
	background: orange;
	color: #FFFFFF;
	text-align:center;
	position:relative;
	margin-top:-32px;
}

span.red {
	color: red;
}

span.green {
	color: green;
}

address {
	font-style:inherit;	
	margin:8px 0 0 0;
}

#clearfooter {
	clear:both;
	height:32px;
}/*needed to make room for footer*/

canvas {
	float:left;
	margin:6px;
}

.hover{
	margin: 0px;
	border: 6px dashed orange;
}

div#clearLog{
	background: grey;
	color: white;
}
div#logDiv{
	font-family:'Courier New';
	border-radius:5px;
	background: grey;
	color: white;
	height:300px;
	margin-left:550px;
	margin-top:10px;
	margin-right:10px;
	margin-bottom:10px;
	padding:15px;
	overflow:auto;
	box-shadow: 1px 1px 5px #888888;
}

#graphParam {
	margin-left:50px;
}

/*The two following rules make sure labels are
greyed out when matching input is disabled*/

input:disabled+label {
	color: grey;
}

input[type=number]+label {
    float: left;
}